*{
    padding: 0;
    margin: 0;
  
    
}

.calculator{
    margin-left: 40vw;
    margin-top: 7vh;
    border: 2px,solid,black;
    width: 300px;
    height: 600px;
    background-color: hsl(149, 61%, 41%);
}
#display-box{
   border: 2px,solid,black;
   border-radius: 3%;
   
    margin-top: 10px;
    width: 250px;
    height: 50px;
    margin-left: 25px;
    font-size: larger;
    text-align: center;
    
}
#btns{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
button{
    font-size:30px;
    width: 80px;
    height: 80px;
    margin: 2px;
    border: 2px,solid,black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
}
